html,
body {
    height: 100%;
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Avenir Next, Avenir, Helvetica, sans-serif;
    font-size: 14px;
}

header {
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: flex-start;
}

#logo {
    height: 70px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#instructions {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}

#rtf-file {
    display: none;
}

#drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    width: 50vw;
    min-width: 300px;
    margin: 20px auto;
    text-align: center;
    background-color: #010101;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    height: 40vh;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

::file-selector-button {
    display: none;
}

#drop-zone.is-dragover {
    border-color: #A5C9FF;
    background-color: #4d4d4d;
}

a {
    color: #A5C9FF;
    text-decoration: underline;
    margin-top: 10px;
}

a:hover {
    color: #ff7c89;
}